.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navlinks {
  display: flex;
  width: fit-content;

  align-items: center;
  a,
  button {
    margin: 2px;
    min-width: fit-content;
  }
}

.userContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  margin: 0 1rem;
}

.avatar {
  margin: 0 6px;
}
