.button {
  // background: #000;
  border: 2px solid #fff;
  border-radius: 4px;
  background: #0000;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  text-decoration: none;

  &:visited {
    color: #fff;
  }
}
