.button {
  background: #0000;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  text-decoration: none;

  &:visited {
    color: #fff;
  }
  &:hover {
    background: #fff;
    color: #005;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
