.button {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background: #0000;
  border: 2px solid #fff;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  width: fit-content;
  height: fit-content;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  text-decoration: none;

  &:visited {
    color: #fff;
  }
  &:hover {
    background: #fff;
    color: #005;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
